body {
	background-color: #F4F4F4;
}

.form-signin {
  max-width: 400px;
  padding: 15px;
  margin: 0 auto;
  margin-top: 50px;
}

.avatar {
  margin-top: -70px;
 padding-bottom: 20px;
}

.avatar img {
  padding: 5px;
  background: #fff;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1);
  box-shadow: 0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1);
}

#popup {
  background: rgba(255, 255, 255, 0.65);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 9001;
  width: 100%;
  display: flex;
  height: 100%;
  justify-content: center;
  -webkit-overflow-scrolling: touch;
  outline: 0;
}

.popup-content {
  background-color: #6C6C6C;
  width: 100%;
  padding: 30px;
  align-self: center;
  color: #ffffff;
  text-align: center;
  font-size: 20px;
}

.popup-data {
  margin: auto 0;
  align-self: center;
}